/* parameters */
$sans: /* */ 'Noto Sans', 'Arial', sans-serif;
// $serif: /* */ 'Crimson Pro', 'Times New Roman', serif;
$serif: 'Crimson Pro';

/* header */
#menu {
  font-family: $serif;
}

header h1 a {
  text-decoration: none
}


/* menu */


/* body */
html, body {
  margin: auto;
  max-width: 72ch;
  padding: 0;
  background-color: #eee;
  font-family: $sans;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  font-weight: 600;
  // font-stretch: condensed;
  // font-variant: small-caps;
  // letter-spacing: 0.1em;
}

a {
  // color: #2f5572;
  color: #39688c;
}

a:visited {
  // color: #7d8d99;
  color: #4F5864;
}
