<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <nav class="wide"></nav>
    <div class="nav-wrapper">
      <nav class="narrow">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <label id="expand-nav-label" for="expand-nav">≡</label>
        <input id="expand-nav" type="checkbox"/>
        <div class="expandable">
          <ul class="menu">
            {% for page in site.pages %}
              {% if page.title %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>

    <div class="page-content">
      <article class="content">
        {{ content }}
      </article>
    </div>

  </body>

</html>
